<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quiz Box</title>
    <link rel="stylesheet" href="{% static "css/app.css" %}" />
  </head>
  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        <h1>Quiz Box</h1>
        <a class="btn" href="{% url 'quizbox:game' %}">Play</a>
        <a class="btn" href="{% url 'quizbox:highscores' %}">Leaderboard</a>
      </div>
    </div>
  </body>
</html>
